@import '../variables';

.header_top {
  background-color: #F3F4F6;
  display: flex;
  justify-content: center;
}

.header {
  border-bottom: 1px solid $gray-line;
  padding: 25px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }



  &__logo {
    display: flex;


    img {
      margin-right: 15px;
      width: 150px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }

  .header__info {

    position: relative;
  }

  .img__telephone {
    width: 24px;
    height: 24px;
    position: absolute;

  }

  h4 {
    padding-left: 40px;

  }
}